<!-- Dependencies -->
<script src="/winston-churchill.js"></script>

<!-- Template -->
<link rel="import" href="sm-card.html" />

<!-- Style -->
<link rel="sylesheet" href="sm-card.css" />

<!-- Functionality -->
<script src="sm-card.js"></script>

<!-- WC Interals -->

<script>
(function () {
    var interval;
        Clock = wc.register('wc-clock', {
          prototype: HTMLElement.prototype,
          template: "#wc-clock"
        });

    Clock.onCreated( function () {
        var clock = this;

        if (this.getAttribute('time') === 'current') {
            /*interval = window.setInterval(setTheTime, 1000);*/
            setTheTime();
        }

        function setTheTime() {
            var time = new Date(),
                leadingZero = function (num) {
                    return (num < 10 ? '0' : '') + num;
                };
            clock.data = {
                hour: leadingZero(time.getHours()),
                minute: leadingZero(time.getMinutes()),
                second: leadingZero(time.getSeconds())
            };
        }
    });

    Clock.onDetached( function () {
        window.clearInterval(interval);
    });
})();
</script>
