<script src="../winston-churchill.js"></script>
<template id="wc-clock">
    <!-- Structural style only -->
    <style>

        /*
            best practice:
                Make components opaque until they have been resolved.
                Components are resolved when they have been registered
                with the document, internal dependencies have resolved,
                and component markup exists in the DOM.
        */

        /*
            The :host pseudo class refers to the element "hosting" the shadow DOM.
            In the case of web components, it is the component itself.
        */
        :host {
            display: block;
            opacity: 1;

            width: 4.845em; /* height * golden ratio (1.618) */
            height: 3em;
            box-shadow: .25em .25em 1em hsla(0, 0%, 0%, .25);
        }

        :host:unresolved {
            opacity: 0;
        }


    </style>
</template>
<script>

</script>
